*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
     font-family: "Calistoga", serif;
     font-size: 45px;
    font-weight: 500;
    font-style: normal;
     margin: 30px 5px;

}
h2{
    margin: 30px 30px;
}

body{
    margin: 0;
    background-color:#ffa9b9;
}
/* TODO: Reset y estilos base */
.container{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

}


/* TODO: Galería de productos */
/* Desktop (>=1024px): 3 columnas usando CSS Grid */
/* Mobile (<768px): 1 columna con scroll vertical */
.galeria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px
}


/* TODO: Estilo de cada tarjeta de producto */
.producto{
    background-color:#FFC5D3;
    border: 1px solid black;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;

}

.producto img{
    width: 100%;
    height: auto;
    display: block;
}

.producto-info h2{
    font-weight: bold;
}

.precio{
    font-weight: bold;
    font-size: 25px;
    color:purple
}

.btn-comprar{
    border-radius: 10px;
    background-color: #c8b2ea;;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    height: 40px;
    width: 110px;
    transition: all 0.3s ease;
    cursor: pointer;
    animation: pulse 4s infinite;
}

.btn-comprar:hover{
    background-color: rgb(21, 218, 21); 
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* TODO: To-Do List */

.todo-list{
     margin: 30px 30px;
     border: 3px dotted; 
     background-color: #FFC5D3;
     border-radius: 10px;


}

.tareas{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    margin: 30px 30px;
    li:nth-child(odd)  { background: #FFEE8C; }
    li:nth-child(even) { background: #C3B1E1; }
}

label{
    font-size: 20px;
}

/* TODO: Diseño responsivo */

@media(max-width: 768px){
    .galeria{
        grid-template-columns: 1fr;
    }
    
}
